/.idea/*
*.iml
.idea
*.class
*..bpmn2d
*.zip
*.log
*.classpath
*.project
*.tmp
*/target/**
*/*/target/**
**/target/**


*/.settings/**
*/*/.settings/**
/.settings/*

*/logs/**
*/*/logs/**

**/.settings/**
**/bin/**